Lumineon{
content: "";
position: absolute;
top: 30px;
left: 1750px;
width: 4px;
height: 4px;
background: transparent;
    box-shadow:4px 4px 0 transparent,
    8px 4px 0 transparent,
    12px 4px 0 transparent,
    16px 4px 0 rgb(51, 51, 51),
    20px 4px 0 transparent,
    24px 4px 0 transparent,
    28px 4px 0 transparent,
    32px 4px 0 transparent,
    36px 4px 0 transparent,
    40px 4px 0 transparent,
    44px 4px 0 transparent,
    48px 4px 0 transparent,
    52px 4px 0 transparent,
    56px 4px 0 transparent,
    60px 4px 0 transparent,
    64px 4px 0 transparent,
    68px 4px 0 transparent,
    72px 4px 0 transparent,
    76px 4px 0 transparent,
    80px 4px 0 transparent,
    84px 4px 0 transparent,
    88px 4px 0 transparent,
    92px 4px 0 transparent,
    4px 8px 0 transparent,
    8px 8px 0 transparent,
    12px 8px 0 rgb(51, 51, 51),
    16px 8px 0 rgb(122, 179, 220),
    20px 8px 0 rgb(51, 51, 51),
    24px 8px 0 transparent,
    28px 8px 0 transparent,
    32px 8px 0 transparent,
    36px 8px 0 transparent,
    40px 8px 0 transparent,
    44px 8px 0 transparent,
    48px 8px 0 transparent,
    52px 8px 0 transparent,
    56px 8px 0 rgb(51, 51, 51),
    60px 8px 0 rgb(51, 51, 51),
    64px 8px 0 transparent,
    68px 8px 0 transparent,
    72px 8px 0 transparent,
    76px 8px 0 transparent,
    80px 8px 0 transparent,
    84px 8px 0 transparent,
    88px 8px 0 transparent,
    92px 8px 0 transparent,
    4px 12px 0 transparent,
    8px 12px 0 transparent,
    12px 12px 0 rgb(51, 51, 51),
    16px 12px 0 rgb(122, 179, 220),
    20px 12px 0 rgb(51, 51, 51),
    24px 12px 0 transparent,
    28px 12px 0 transparent,
    32px 12px 0 transparent,
    36px 12px 0 transparent,
    40px 12px 0 transparent,
    44px 12px 0 transparent,
    48px 12px 0 transparent,
    52px 12px 0 rgb(51, 51, 51),
    56px 12px 0 rgb(155, 212, 253),
    60px 12px 0 rgb(155, 212, 253),
    64px 12px 0 rgb(51, 51, 51),
    68px 12px 0 transparent,
    72px 12px 0 transparent,
    76px 12px 0 transparent,
    80px 12px 0 transparent,
    84px 12px 0 transparent,
    88px 12px 0 transparent,
    92px 12px 0 transparent,
    4px 16px 0 transparent,
    8px 16px 0 transparent,
    12px 16px 0 rgb(51, 51, 51),
    16px 16px 0 rgb(122, 179, 220),
    20px 16px 0 rgb(51, 51, 51),
    24px 16px 0 transparent,
    28px 16px 0 transparent,
    32px 16px 0 transparent,
    36px 16px 0 transparent,
    40px 16px 0 transparent,
    44px 16px 0 transparent,
    48px 16px 0 rgb(51, 51, 51),
    52px 16px 0 rgb(155, 212, 253),
    56px 16px 0 rgb(155, 212, 253),
    60px 16px 0 rgb(98, 122, 131),
    64px 16px 0 rgb(51, 51, 51),
    68px 16px 0 transparent,
    72px 16px 0 transparent,
    76px 16px 0 transparent,
    80px 16px 0 transparent,
    84px 16px 0 transparent,
    88px 16px 0 transparent,
    92px 16px 0 transparent,
    4px 20px 0 transparent,
    8px 20px 0 rgb(51, 51, 51),
    12px 20px 0 rgb(122, 179, 220),
    16px 20px 0 rgb(122, 179, 220),
    20px 20px 0 rgb(122, 179, 220),
    24px 20px 0 rgb(51, 51, 51),
    28px 20px 0 transparent,
    32px 20px 0 transparent,
    36px 20px 0 transparent,
    40px 20px 0 transparent,
    44px 20px 0 rgb(51, 51, 51),
    48px 20px 0 rgb(155, 212, 253),
    52px 20px 0 rgb(98, 122, 131),
    56px 20px 0 rgb(51, 51, 51),
    60px 20px 0 rgb(51, 51, 51),
    64px 20px 0 transparent,
    68px 20px 0 transparent,
    72px 20px 0 transparent,
    76px 20px 0 transparent,
    80px 20px 0 transparent,
    84px 20px 0 transparent,
    88px 20px 0 transparent,
    92px 20px 0 transparent,
    4px 24px 0 transparent,
    8px 24px 0 rgb(51, 51, 51),
    12px 24px 0 rgb(73, 89, 106),
    16px 24px 0 rgb(122, 179, 220),
    20px 24px 0 rgb(122, 179, 220),
    24px 24px 0 rgb(122, 179, 220),
    28px 24px 0 rgb(51, 51, 51),
    32px 24px 0 transparent,
    36px 24px 0 transparent,
    40px 24px 0 rgb(51, 51, 51),
    44px 24px 0 rgb(98, 122, 131),
    48px 24px 0 rgb(122, 179, 220),
    52px 24px 0 rgb(155, 212, 253),
    56px 24px 0 rgb(155, 212, 253),
    60px 24px 0 rgb(155, 212, 253),
    64px 24px 0 rgb(51, 51, 51),
    68px 24px 0 transparent,
    72px 24px 0 transparent,
    76px 24px 0 transparent,
    80px 24px 0 rgb(51, 51, 51),
    84px 24px 0 rgb(51, 51, 51),
    88px 24px 0 transparent,
    92px 24px 0 transparent,
    4px 28px 0 transparent,
    8px 28px 0 rgb(51, 51, 51),
    12px 28px 0 rgb(73, 89, 106),
    16px 28px 0 rgb(73, 89, 106),
    20px 28px 0 rgb(122, 179, 220),
    24px 28px 0 rgb(82, 82, 82),
    28px 28px 0 rgb(82, 82, 82),
    32px 28px 0 rgb(51, 51, 51),
    36px 28px 0 rgb(51, 51, 51),
    40px 28px 0 rgb(98, 122, 131),
    44px 28px 0 rgb(98, 122, 131),
    48px 28px 0 rgb(98, 122, 131),
    52px 28px 0 rgb(122, 179, 220),
    56px 28px 0 rgb(155, 212, 253),
    60px 28px 0 rgb(155, 212, 253),
    64px 28px 0 rgb(51, 51, 51),
    68px 28px 0 transparent,
    72px 28px 0 transparent,
    76px 28px 0 rgb(51, 51, 51),
    80px 28px 0 rgb(98, 122, 131),
    84px 28px 0 rgb(98, 122, 131),
    88px 28px 0 rgb(51, 51, 51),
    92px 28px 0 transparent,
    4px 32px 0 transparent,
    8px 32px 0 rgb(51, 51, 51),
    12px 32px 0 rgb(73, 89, 106),
    16px 32px 0 rgb(73, 89, 106),
    20px 32px 0 rgb(82, 82, 82),
    24px 32px 0 rgb(98, 122, 131),
    28px 32px 0 rgb(98, 122, 131),
    32px 32px 0 rgb(98, 122, 131),
    36px 32px 0 rgb(82, 82, 82),
    40px 32px 0 rgb(98, 122, 131),
    44px 32px 0 rgb(98, 122, 131),
    48px 32px 0 rgb(98, 122, 131),
    52px 32px 0 rgb(122, 179, 220),
    56px 32px 0 rgb(155, 212, 253),
    60px 32px 0 rgb(51, 51, 51),
    64px 32px 0 transparent,
    68px 32px 0 transparent,
    72px 32px 0 rgb(51, 51, 51),
    76px 32px 0 rgb(82, 82, 82),
    80px 32px 0 rgb(228, 114, 155),
    84px 32px 0 rgb(98, 122, 131),
    88px 32px 0 rgb(51, 51, 51),
    92px 32px 0 transparent,
    4px 36px 0 transparent,
    8px 36px 0 rgb(51, 51, 51),
    12px 36px 0 rgb(73, 89, 106),
    16px 36px 0 rgb(82, 82, 82),
    20px 36px 0 rgb(155, 212, 253),
    24px 36px 0 rgb(155, 212, 253),
    28px 36px 0 rgb(122, 179, 220),
    32px 36px 0 rgb(82, 82, 82),
    36px 36px 0 rgb(98, 122, 131),
    40px 36px 0 rgb(98, 122, 131),
    44px 36px 0 rgb(98, 122, 131),
    48px 36px 0 rgb(98, 122, 131),
    52px 36px 0 rgb(155, 212, 253),
    56px 36px 0 rgb(51, 51, 51),
    60px 36px 0 transparent,
    64px 36px 0 transparent,
    68px 36px 0 transparent,
    72px 36px 0 rgb(51, 51, 51),
    76px 36px 0 rgb(228, 114, 155),
    80px 36px 0 rgb(228, 114, 155),
    84px 36px 0 rgb(98, 122, 131),
    88px 36px 0 rgb(51, 51, 51),
    92px 36px 0 transparent,
    4px 40px 0 transparent,
    8px 40px 0 transparent,
    12px 40px 0 rgb(51, 51, 51),
    16px 40px 0 rgb(122, 179, 220),
    20px 40px 0 rgb(98, 122, 131),
    24px 40px 0 rgb(98, 122, 131),
    28px 40px 0 rgb(155, 212, 253),
    32px 40px 0 rgb(155, 212, 253),
    36px 40px 0 rgb(82, 82, 82),
    40px 40px 0 rgb(98, 122, 131),
    44px 40px 0 rgb(98, 122, 131),
    48px 40px 0 rgb(122, 179, 220),
    52px 40px 0 rgb(155, 212, 253),
    56px 40px 0 rgb(51, 51, 51),
    60px 40px 0 transparent,
    64px 40px 0 transparent,
    68px 40px 0 transparent,
    72px 40px 0 rgb(51, 51, 51),
    76px 40px 0 rgb(228, 114, 155),
    80px 40px 0 rgb(98, 122, 131),
    84px 40px 0 rgb(51, 51, 51),
    88px 40px 0 transparent,
    92px 40px 0 transparent,
    4px 44px 0 transparent,
    8px 44px 0 transparent,
    12px 44px 0 rgb(51, 51, 51),
    16px 44px 0 rgb(98, 122, 131),
    20px 44px 0 rgb(98, 122, 131),
    24px 44px 0 rgb(98, 122, 131),
    28px 44px 0 rgb(98, 122, 131),
    32px 44px 0 rgb(122, 179, 220),
    36px 44px 0 rgb(155, 212, 253),
    40px 44px 0 rgb(82, 82, 82),
    44px 44px 0 rgb(82, 82, 82),
    48px 44px 0 rgb(155, 212, 253),
    52px 44px 0 rgb(155, 212, 253),
    56px 44px 0 rgb(155, 212, 253),
    60px 44px 0 rgb(51, 51, 51),
    64px 44px 0 transparent,
    68px 44px 0 transparent,
    72px 44px 0 rgb(51, 51, 51),
    76px 44px 0 rgb(98, 122, 131),
    80px 44px 0 rgb(98, 122, 131),
    84px 44px 0 rgb(51, 51, 51),
    88px 44px 0 transparent,
    92px 44px 0 transparent,
    4px 48px 0 transparent,
    8px 48px 0 rgb(51, 51, 51),
    12px 48px 0 rgb(98, 122, 131),
    16px 48px 0 rgb(98, 122, 131),
    20px 48px 0 rgb(98, 122, 131),
    24px 48px 0 rgb(155, 212, 253),
    28px 48px 0 rgb(98, 122, 131),
    32px 48px 0 rgb(98, 122, 131),
    36px 48px 0 rgb(155, 212, 253),
    40px 48px 0 rgb(82, 82, 82),
    44px 48px 0 rgb(98, 122, 131),
    48px 48px 0 rgb(82, 82, 82),
    52px 48px 0 rgb(155, 212, 253),
    56px 48px 0 rgb(155, 212, 253),
    60px 48px 0 rgb(82, 82, 82),
    64px 48px 0 rgb(51, 51, 51),
    68px 48px 0 rgb(51, 51, 51),
    72px 48px 0 rgb(73, 89, 106),
    76px 48px 0 rgb(73, 89, 106),
    80px 48px 0 rgb(51, 51, 51),
    84px 48px 0 transparent,
    88px 48px 0 transparent,
    92px 48px 0 transparent,
    4px 52px 0 transparent,
    8px 52px 0 rgb(51, 51, 51),
    12px 52px 0 rgb(155, 212, 253),
    16px 52px 0 rgb(98, 122, 131),
    20px 52px 0 rgb(155, 212, 253),
    24px 52px 0 rgb(155, 212, 253),
    28px 52px 0 rgb(155, 212, 253),
    32px 52px 0 rgb(98, 122, 131),
    36px 52px 0 rgb(122, 179, 220),
    40px 52px 0 rgb(82, 82, 82),
    44px 52px 0 rgb(98, 122, 131),
    48px 52px 0 rgb(98, 122, 131),
    52px 52px 0 rgb(82, 82, 82),
    56px 52px 0 rgb(82, 82, 82),
    60px 52px 0 rgb(122, 179, 220),
    64px 52px 0 rgb(82, 82, 82),
    68px 52px 0 rgb(73, 89, 106),
    72px 52px 0 rgb(73, 89, 106),
    76px 52px 0 rgb(51, 51, 51),
    80px 52px 0 transparent,
    84px 52px 0 transparent,
    88px 52px 0 transparent,
    92px 52px 0 transparent,
    4px 56px 0 rgb(51, 51, 51),
    8px 56px 0 rgb(155, 212, 253),
    12px 56px 0 rgb(155, 212, 253),
    16px 56px 0 rgb(122, 179, 220),
    20px 56px 0 rgb(254, 254, 254),
    24px 56px 0 rgb(51, 51, 51),
    28px 56px 0 rgb(228, 114, 155),
    32px 56px 0 rgb(98, 122, 131),
    36px 56px 0 rgb(98, 122, 131),
    40px 56px 0 rgb(155, 212, 253),
    44px 56px 0 rgb(82, 82, 82),
    48px 56px 0 rgb(98, 122, 131),
    52px 56px 0 rgb(98, 122, 131),
    56px 56px 0 rgb(98, 122, 131),
    60px 56px 0 rgb(122, 179, 220),
    64px 56px 0 rgb(155, 212, 253),
    68px 56px 0 rgb(51, 51, 51),
    72px 56px 0 rgb(51, 51, 51),
    76px 56px 0 transparent,
    80px 56px 0 transparent,
    84px 56px 0 transparent,
    88px 56px 0 transparent,
    92px 56px 0 transparent,
    4px 60px 0 rgb(51, 51, 51),
    8px 60px 0 rgb(155, 212, 253),
    12px 60px 0 rgb(155, 212, 253),
    16px 60px 0 rgb(155, 212, 253),
    20px 60px 0 rgb(228, 114, 155),
    24px 60px 0 rgb(51, 51, 51),
    28px 60px 0 rgb(228, 114, 155),
    32px 60px 0 rgb(98, 122, 131),
    36px 60px 0 rgb(98, 122, 131),
    40px 60px 0 rgb(155, 212, 253),
    44px 60px 0 rgb(82, 82, 82),
    48px 60px 0 rgb(98, 122, 131),
    52px 60px 0 rgb(98, 122, 131),
    56px 60px 0 rgb(98, 122, 131),
    60px 60px 0 rgb(155, 212, 253),
    64px 60px 0 rgb(155, 212, 253),
    68px 60px 0 rgb(51, 51, 51),
    72px 60px 0 transparent,
    76px 60px 0 transparent,
    80px 60px 0 transparent,
    84px 60px 0 transparent,
    88px 60px 0 transparent,
    92px 60px 0 transparent,
    4px 64px 0 transparent,
    8px 64px 0 rgb(51, 51, 51),
    12px 64px 0 rgb(155, 212, 253),
    16px 64px 0 rgb(155, 212, 253),
    20px 64px 0 rgb(155, 212, 253),
    24px 64px 0 rgb(228, 114, 155),
    28px 64px 0 rgb(98, 122, 131),
    32px 64px 0 rgb(98, 122, 131),
    36px 64px 0 rgb(122, 179, 220),
    40px 64px 0 rgb(155, 212, 253),
    44px 64px 0 rgb(98, 122, 131),
    48px 64px 0 rgb(82, 82, 82),
    52px 64px 0 rgb(98, 122, 131),
    56px 64px 0 rgb(122, 179, 220),
    60px 64px 0 rgb(155, 212, 253),
    64px 64px 0 rgb(51, 51, 51),
    68px 64px 0 transparent,
    72px 64px 0 transparent,
    76px 64px 0 transparent,
    80px 64px 0 transparent,
    84px 64px 0 transparent,
    88px 64px 0 transparent,
    92px 64px 0 transparent,
    4px 68px 0 transparent,
    8px 68px 0 transparent,
    12px 68px 0 rgb(51, 51, 51),
    16px 68px 0 rgb(82, 82, 82),
    20px 68px 0 rgb(155, 212, 253),
    24px 68px 0 rgb(98, 122, 131),
    28px 68px 0 rgb(98, 122, 131),
    32px 68px 0 rgb(98, 122, 131),
    36px 68px 0 rgb(155, 212, 253),
    40px 68px 0 rgb(122, 179, 220),
    44px 68px 0 rgb(98, 122, 131),
    48px 68px 0 rgb(98, 122, 131),
    52px 68px 0 rgb(82, 82, 82),
    56px 68px 0 rgb(155, 212, 253),
    60px 68px 0 rgb(51, 51, 51),
    64px 68px 0 transparent,
    68px 68px 0 transparent,
    72px 68px 0 transparent,
    76px 68px 0 transparent,
    80px 68px 0 transparent,
    84px 68px 0 transparent,
    88px 68px 0 transparent,
    92px 68px 0 transparent,
    4px 72px 0 transparent,
    8px 72px 0 transparent,
    12px 72px 0 transparent,
    16px 72px 0 rgb(51, 51, 51),
    20px 72px 0 rgb(98, 122, 131),
    24px 72px 0 rgb(98, 122, 131),
    28px 72px 0 rgb(98, 122, 131),
    32px 72px 0 rgb(155, 212, 253),
    36px 72px 0 rgb(122, 179, 220),
    40px 72px 0 rgb(98, 122, 131),
    44px 72px 0 rgb(98, 122, 131),
    48px 72px 0 rgb(98, 122, 131),
    52px 72px 0 rgb(51, 51, 51),
    56px 72px 0 rgb(155, 212, 253),
    60px 72px 0 rgb(122, 179, 220),
    64px 72px 0 rgb(51, 51, 51),
    68px 72px 0 transparent,
    72px 72px 0 transparent,
    76px 72px 0 transparent,
    80px 72px 0 transparent,
    84px 72px 0 transparent,
    88px 72px 0 transparent,
    92px 72px 0 transparent,
    4px 76px 0 transparent,
    8px 76px 0 transparent,
    12px 76px 0 transparent,
    16px 76px 0 transparent,
    20px 76px 0 rgb(51, 51, 51),
    24px 76px 0 rgb(82, 82, 82),
    28px 76px 0 rgb(82, 82, 82),
    32px 76px 0 rgb(98, 122, 131),
    36px 76px 0 rgb(98, 122, 131),
    40px 76px 0 rgb(98, 122, 131),
    44px 76px 0 rgb(51, 51, 51),
    48px 76px 0 rgb(51, 51, 51),
    52px 76px 0 transparent,
    56px 76px 0 rgb(51, 51, 51),
    60px 76px 0 rgb(155, 212, 253),
    64px 76px 0 rgb(51, 51, 51),
    68px 76px 0 transparent,
    72px 76px 0 transparent,
    76px 76px 0 transparent,
    80px 76px 0 transparent,
    84px 76px 0 transparent,
    88px 76px 0 transparent,
    92px 76px 0 transparent,
    4px 80px 0 transparent,
    8px 80px 0 transparent,
    12px 80px 0 transparent,
    16px 80px 0 transparent,
    20px 80px 0 rgb(51, 51, 51),
    24px 80px 0 rgb(122, 179, 220),
    28px 80px 0 rgb(82, 82, 82),
    32px 80px 0 rgb(155, 212, 253),
    36px 80px 0 rgb(82, 82, 82),
    40px 80px 0 rgb(51, 51, 51),
    44px 80px 0 transparent,
    48px 80px 0 transparent,
    52px 80px 0 transparent,
    56px 80px 0 transparent,
    60px 80px 0 rgb(51, 51, 51),
    64px 80px 0 rgb(51, 51, 51),
    68px 80px 0 transparent,
    72px 80px 0 transparent,
    76px 80px 0 transparent,
    80px 80px 0 transparent,
    84px 80px 0 transparent,
    88px 80px 0 transparent,
    92px 80px 0 transparent,
    4px 84px 0 transparent,
    8px 84px 0 transparent,
    12px 84px 0 transparent,
    16px 84px 0 transparent,
    20px 84px 0 rgb(51, 51, 51),
    24px 84px 0 rgb(122, 179, 220),
    28px 84px 0 rgb(82, 82, 82),
    32px 84px 0 rgb(155, 212, 253),
    36px 84px 0 rgb(155, 212, 253),
    40px 84px 0 rgb(51, 51, 51),
    44px 84px 0 transparent,
    48px 84px 0 transparent,
    52px 84px 0 transparent,
    56px 84px 0 transparent,
    60px 84px 0 transparent,
    64px 84px 0 transparent,
    68px 84px 0 transparent,
    72px 84px 0 transparent,
    76px 84px 0 transparent,
    80px 84px 0 transparent,
    84px 84px 0 transparent,
    88px 84px 0 transparent,
    92px 84px 0 transparent,
    4px 88px 0 transparent,
    8px 88px 0 transparent,
    12px 88px 0 transparent,
    16px 88px 0 transparent,
    20px 88px 0 transparent,
    24px 88px 0 rgb(51, 51, 51),
    28px 88px 0 rgb(51, 51, 51),
    32px 88px 0 rgb(122, 179, 220),
    36px 88px 0 rgb(155, 212, 253),
    40px 88px 0 rgb(51, 51, 51),
    44px 88px 0 transparent,
    48px 88px 0 transparent,
    52px 88px 0 transparent,
    56px 88px 0 transparent,
    60px 88px 0 transparent,
    64px 88px 0 transparent,
    68px 88px 0 transparent,
    72px 88px 0 transparent,
    76px 88px 0 transparent,
    80px 88px 0 transparent,
    84px 88px 0 transparent,
    88px 88px 0 transparent,
    92px 88px 0 transparent,
    4px 92px 0 transparent,
    8px 92px 0 transparent,
    12px 92px 0 transparent,
    16px 92px 0 transparent,
    20px 92px 0 transparent,
    24px 92px 0 transparent,
    28px 92px 0 transparent,
    32px 92px 0 rgb(51, 51, 51),
    36px 92px 0 rgb(51, 51, 51),
    40px 92px 0 transparent,
    44px 92px 0 transparent,
    48px 92px 0 transparent,
    52px 92px 0 transparent,
    56px 92px 0 transparent,
    60px 92px 0 transparent,
    64px 92px 0 transparent,
    68px 92px 0 transparent,
    72px 92px 0 transparent,
    76px 92px 0 transparent,
    80px 92px 0 transparent,
    84px 92px 0 transparent,
    88px 92px 0 transparent,
    92px 92px 0 transparent;
}
Maki{
    display: block;
    content: "";
    position: absolute;
    top: 50px;
    left: 1680px;
    width: 4px;
    height: 4px;
    background: transparent;

    box-shadow:4px 4px 0 transparent,
        8px 4px 0 transparent,
        12px 4px 0 transparent,
        16px 4px 0 rgb(33, 51, 91),
        20px 4px 0 rgb(33, 51, 91),
        24px 4px 0 rgb(33, 51, 91),
        28px 4px 0 rgb(33, 51, 91),
        32px 4px 0 rgb(33, 51, 91),
        36px 4px 0 rgb(33, 51, 91),
        40px 4px 0 rgb(33, 51, 91),
        44px 4px 0 transparent,
        48px 4px 0 transparent,
        52px 4px 0 transparent,
        56px 4px 0 transparent,
        60px 4px 0 transparent,
        64px 4px 0 transparent,
        4px 8px 0 transparent,
        8px 8px 0 transparent,
        12px 8px 0 rgb(33, 51, 91),
        16px 8px 0 rgb(0, 171, 188),
        20px 8px 0 rgb(33, 51, 91),
        24px 8px 0 rgb(33, 51, 91),
        28px 8px 0 rgb(33, 51, 91),
        32px 8px 0 rgb(33, 51, 91),
        36px 8px 0 rgb(33, 51, 91),
        40px 8px 0 rgb(33, 51, 91),
        44px 8px 0 rgb(33, 51, 91),
        48px 8px 0 transparent,
        52px 8px 0 transparent,
        56px 8px 0 transparent,
        60px 8px 0 transparent,
        64px 8px 0 transparent,
        4px 12px 0 transparent,
        8px 12px 0 transparent,
        12px 12px 0 rgb(33, 51, 91),
        16px 12px 0 rgb(33, 51, 91),
        20px 12px 0 rgb(33, 51, 91),
        24px 12px 0 rgb(33, 51, 91),
        28px 12px 0 rgb(33, 51, 91),
        32px 12px 0 rgb(33, 51, 91),
        36px 12px 0 rgb(33, 51, 91),
        40px 12px 0 rgb(33, 51, 91),
        44px 12px 0 rgb(33, 51, 91),
        48px 12px 0 transparent,
        52px 12px 0 transparent,
        56px 12px 0 transparent,
        60px 12px 0 transparent,
        64px 12px 0 transparent,
        4px 16px 0 transparent,
        8px 16px 0 transparent,
        12px 16px 0 rgb(142, 27, 49),
        16px 16px 0 rgb(142, 27, 49),
        20px 16px 0 rgb(142, 27, 49),
        24px 16px 0 rgb(142, 27, 49),
        28px 16px 0 rgb(142, 27, 49),
        32px 16px 0 rgb(255, 230, 207),
        36px 16px 0 rgb(255, 230, 207),
        40px 16px 0 rgb(142, 27, 49),
        44px 16px 0 rgb(142, 27, 49),
        48px 16px 0 transparent,
        52px 16px 0 transparent,
        56px 16px 0 transparent,
        60px 16px 0 transparent,
        64px 16px 0 transparent,
        4px 20px 0 transparent,
        8px 20px 0 rgb(142, 27, 49),
        12px 20px 0 rgb(142, 27, 49),
        16px 20px 0 rgb(142, 27, 49),
        20px 20px 0 rgb(255, 230, 207),
        24px 20px 0 rgb(142, 27, 49),
        28px 20px 0 rgb(255, 230, 207),
        32px 20px 0 rgb(255, 230, 207),
        36px 20px 0 rgb(255, 230, 207),
        40px 20px 0 rgb(255, 230, 207),
        44px 20px 0 rgb(142, 27, 49),
        48px 20px 0 rgb(142, 27, 49),
        52px 20px 0 transparent,
        56px 20px 0 transparent,
        60px 20px 0 transparent,
        64px 20px 0 transparent,
        4px 24px 0 transparent,
        8px 24px 0 rgb(142, 27, 49),
        12px 24px 0 rgb(142, 27, 49),
        16px 24px 0 rgb(255, 230, 207),
        20px 24px 0 rgb(67, 39, 69),
        24px 24px 0 rgb(255, 230, 207),
        28px 24px 0 rgb(255, 230, 207),
        32px 24px 0 rgb(255, 230, 207),
        36px 24px 0 rgb(67, 39, 69),
        40px 24px 0 rgb(255, 230, 207),
        44px 24px 0 rgb(142, 27, 49),
        48px 24px 0 rgb(142, 27, 49),
        52px 24px 0 transparent,
        56px 24px 0 transparent,
        60px 24px 0 transparent,
        64px 24px 0 transparent,
        4px 28px 0 transparent,
        8px 28px 0 rgb(142, 27, 49),
        12px 28px 0 rgb(142, 27, 49),
        16px 28px 0 rgb(255, 230, 207),
        20px 28px 0 rgb(67, 39, 69),
        24px 28px 0 rgb(255, 230, 207),
        28px 28px 0 rgb(255, 230, 207),
        32px 28px 0 rgb(255, 230, 207),
        36px 28px 0 rgb(67, 39, 69),
        40px 28px 0 rgb(255, 230, 207),
        44px 28px 0 rgb(142, 27, 49),
        48px 28px 0 rgb(142, 27, 49),
        52px 28px 0 transparent,
        56px 28px 0 transparent,
        60px 28px 0 transparent,
        64px 28px 0 transparent,
        4px 32px 0 transparent,
        8px 32px 0 rgb(142, 27, 49),
        12px 32px 0 rgb(142, 27, 49),
        16px 32px 0 rgb(255, 230, 207),
        20px 32px 0 rgb(193, 204, 214),
        24px 32px 0 rgb(255, 230, 207),
        28px 32px 0 rgb(255, 230, 207),
        32px 32px 0 rgb(255, 230, 207),
        36px 32px 0 rgb(193, 204, 214),
        40px 32px 0 rgb(255, 230, 207),
        44px 32px 0 rgb(142, 27, 49),
        48px 32px 0 rgb(142, 27, 49),
        52px 32px 0 transparent,
        56px 32px 0 transparent,
        60px 32px 0 transparent,
        64px 32px 0 transparent,
        4px 36px 0 transparent,
        8px 36px 0 transparent,
        12px 36px 0 rgb(142, 27, 49),
        16px 36px 0 rgb(142, 27, 49),
        20px 36px 0 rgb(255, 230, 207),
        24px 36px 0 rgb(255, 230, 207),
        28px 36px 0 rgb(255, 230, 207),
        32px 36px 0 rgb(255, 230, 207),
        36px 36px 0 rgb(255, 230, 207),
        40px 36px 0 rgb(142, 27, 49),
        44px 36px 0 rgb(142, 27, 49),
        48px 36px 0 rgb(142, 27, 49),
        52px 36px 0 transparent,
        56px 36px 0 transparent,
        60px 36px 0 transparent,
        64px 36px 0 transparent,
        4px 40px 0 transparent,
        8px 40px 0 transparent,
        12px 40px 0 transparent,
        16px 40px 0 rgb(186, 67, 145),
        20px 40px 0 rgb(186, 67, 145),
        24px 40px 0 rgb(27, 32, 71),
        28px 40px 0 rgb(27, 32, 71),
        32px 40px 0 rgb(27, 32, 71),
        36px 40px 0 rgb(186, 67, 145),
        40px 40px 0 rgb(186, 67, 145),
        44px 40px 0 transparent,
        48px 40px 0 transparent,
        52px 40px 0 transparent,
        56px 40px 0 transparent,
        60px 40px 0 transparent,
        64px 40px 0 transparent,
        4px 44px 0 transparent,
        8px 44px 0 transparent,
        12px 44px 0 rgb(186, 67, 145),
        16px 44px 0 rgb(186, 67, 145),
        20px 44px 0 rgb(27, 32, 71),
        24px 44px 0 rgb(27, 32, 71),
        28px 44px 0 rgb(27, 32, 71),
        32px 44px 0 rgb(27, 32, 71),
        36px 44px 0 rgb(27, 32, 71),
        40px 44px 0 rgb(186, 67, 145),
        44px 44px 0 rgb(186, 67, 145),
        48px 44px 0 transparent,
        52px 44px 0 transparent,
        56px 44px 0 transparent,
        60px 44px 0 transparent,
        64px 44px 0 transparent,
        4px 48px 0 transparent,
        8px 48px 0 rgb(255, 230, 207),
        12px 48px 0 rgb(255, 230, 207),
        16px 48px 0 rgb(27, 32, 71),
        20px 48px 0 rgb(27, 32, 71),
        24px 48px 0 rgb(27, 32, 71),
        28px 48px 0 rgb(27, 32, 71),
        32px 48px 0 rgb(27, 32, 71),
        36px 48px 0 rgb(27, 32, 71),
        40px 48px 0 rgb(27, 32, 71),
        44px 48px 0 rgb(255, 230, 207),
        48px 48px 0 rgb(255, 230, 207),
        52px 48px 0 transparent,
        56px 48px 0 transparent,
        60px 48px 0 transparent,
        64px 48px 0 transparent,
        4px 52px 0 transparent,
        8px 52px 0 rgb(255, 230, 207),
        12px 52px 0 rgb(255, 230, 207),
        16px 52px 0 rgb(168, 7, 76),
        20px 52px 0 rgb(168, 7, 76),
        24px 52px 0 rgb(168, 7, 76),
        28px 52px 0 rgb(168, 7, 76),
        32px 52px 0 rgb(168, 7, 76),
        36px 52px 0 rgb(168, 7, 76),
        40px 52px 0 rgb(168, 7, 76),
        44px 52px 0 rgb(255, 230, 207),
        48px 52px 0 rgb(255, 230, 207),
        52px 52px 0 transparent,
        56px 52px 0 transparent,
        60px 52px 0 transparent,
        64px 52px 0 transparent,
        4px 56px 0 transparent,
        8px 56px 0 transparent,
        12px 56px 0 transparent,
        16px 56px 0 transparent,
        20px 56px 0 rgb(54, 163, 191),
        24px 56px 0 rgb(54, 163, 191),
        28px 56px 0 transparent,
        32px 56px 0 rgb(54, 163, 191),
        36px 56px 0 rgb(54, 163, 191),
        40px 56px 0 transparent,
        44px 56px 0 transparent,
        48px 56px 0 transparent,
        52px 56px 0 transparent,
        56px 56px 0 transparent,
        60px 56px 0 transparent,
        64px 56px 0 transparent,
        4px 60px 0 transparent,
        8px 60px 0 transparent,
        12px 60px 0 transparent,
        16px 60px 0 transparent,
        20px 60px 0 rgb(15, 29, 51),
        24px 60px 0 rgb(15, 29, 51),
        28px 60px 0 transparent,
        32px 60px 0 rgb(15, 29, 51),
        36px 60px 0 rgb(15, 29, 51),
        40px 60px 0 transparent,
        44px 60px 0 transparent,
        48px 60px 0 transparent,
        52px 60px 0 transparent,
        56px 60px 0 transparent,
        60px 60px 0 transparent,
        64px 60px 0 transparent,
        4px 64px 0 transparent,
        8px 64px 0 transparent,
        12px 64px 0 transparent,
        16px 64px 0 transparent,
        20px 64px 0 rgb(161, 26, 40),
        24px 64px 0 rgb(161, 26, 40),
        28px 64px 0 transparent,
        32px 64px 0 rgb(161, 26, 40),
        36px 64px 0 rgb(161, 26, 40),
        40px 64px 0 transparent,
        44px 64px 0 transparent,
        48px 64px 0 transparent,
        52px 64px 0 transparent,
        56px 64px 0 transparent,
        60px 64px 0 transparent,
        64px 64px 0 transparent;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 .circle-icon {
  border-radius: 50%;
  width: 300px; /* 画像の幅を指定 */
  height: 300px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を円形にトリミングするために重要 */
}
.small_circle-icon {
  border-radius: 50%;
  width: 50px; /* 画像の幅を指定 */
  height: 50px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を円形にトリミングするために重要 */
}
